<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basketballtrain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShootingActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DribellingActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShootingSurvyActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DribellingSurvyActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DefensingSurvyActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StatisticActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DefensingActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShootingWorkoutListActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DribellingWorkoutListActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DefensingWorkoutListActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HighestRecordsActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PushupsActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
        android:name=".PushupsSurvyActivity"
        android:label="@string/title_activity_home_page"
        android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PushupsWorkoutListActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>